    <footer  class="footnote">
        <div class="container">
		<p>
                <span class="footerline">{{ 'now' | date: "%Y"}} &copy; IWatchedYourHack</span>
		<span class="footerright">
			<a class="footerlink" href="/affiliated/">Affiliated</a> &nbsp;
			<a class="footerlink" href="/security/">Security</a> &nbsp;
			<a class="footerlink" href="/feed.xml">RSS</a> &nbsp;
	        	<a href="https://twitter.com/0xIWYH"><img src="/static/img/twitter.png" width="14px" height="14px"></a>
		</span>
		<br>
        </div>
    </footer>
